* {
	box-sizing: border-box;
}
 
h1 {
	text-align: center;
	margin-bottom: 30px;
}

div {
	float: left;
	border: 1px solid black;
}

#s1 {
	background-color: #F6B188;
	width: 30%;
	margin: 0px;
	text-align: center;
	float: right;
	padding: 5px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	font-weight: bold;
}

#s2 {
	background-color: #A9B907;
	width: 30%;
	margin: 0px;
	text-align: center;
	float: right;
	padding: 5px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	font-weight: bold;
}

#s3 {
	background-color: #BB0999;
	width: 30%;
	margin: 0px;
	text-align: center;
	float: right;
	padding: 5px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	font-weight: bold;
}

section {
	clear: right;
	padding: 10px;
}

#p1 {
	background-color: #BBBBBB;
}

#p2 {
	background-color: #ABCDEF;
}

#p3 {
	background-color: #E2B2FF;
}

@media (max-width: 767px) {
#p1 {
	width: 97.5%;
	margin: 10px;
}
#p2 {
	width: 97.5%;
	margin: 10px;
}
#p3 {
	width: 97.5%;
	margin: 10px;
}
}

@media (min-width: 768px) and (max-width: 991px) {
#p1 {
	width: 47.5%;
	margin: 10px;
}
#p2 {
	width: 47.5%;
	margin: 10px;
}
#p3 {
	width: 97.3%;
	margin: 10px;
}
}

@media (min-width: 992px) {
#p1 {
	width: 31.2%;
	margin: 10px;
}
#p2 {
	width:31.2%;
	margin: 10px;
}
#p3 {
	width: 31.2%;
	margin: 10px;
}
}