#d1 {
	background-color: #A46649;
	padding: 10px;
	margin: 10px;
}

#d2 {
	background-color: #726392;
	padding: 10px;
	margin: 10px;
}

#d3 {
	background-color: #F5C92B;
	padding: 10px;
	margin: 10px;
}
